

body {
    background-image: url(OBMC\ BUTTERFLY.jpg);
    width: 100%;
    background-size: cover;

    
}


.container1 {
    margin-top: 100px;
    
}
.container-mt-3 {
    margin-left: 100px;
}
.containercss {
    margin-left: 10px;
    display: flex;
    gap: 100px;

    
}
.containercss img {
    border-radius: 10px;
    gap: 100px;
}

.containercss p {
    display: inline-block;
 
}
